form{
    background: #eee;
    display: inline-block;
}

form span{
    display:inline-block;
    width: 80px;
    background: #eee;
    margin: 10px 3px 3px 8px;
}

form input, select{
    width: 150px;
    height: 20px;
    margin:10px 5px 5px 8px;
    box-sizing: border-box;
}

form select{
    margin: 1px 5px 5px 8px;
}

form input[type = 'submit']{
    display:block;
    width: 80px;
    height: 30px;
    margin: 10px 30px 12px 100px;
}