body {
    background:#EEE; 
    font-size:24pt;
}

.langs {
    border: 1px solid #AAA;
    border-radius: 10px;
    background: #CCC;
    padding: 5px 10px;
    margin: 3px;
    display: inline-block;
}